# Created by .ignore support plugin (hsz.mobi)
build
doc
node_modules
/.idea
jsMultiSelect.sln
.idea/jsLibraryMappings.xml
.idea/jsLibraryMappings.xml
.idea/jsLibraryMappings.xml
jsMultiSelect.njsproj
.idea/jsLibraryMappings.xml
.ntvs_analysis.dat
.vs/jsMultiSelect/v14/.suo
